/* main colors from http://www.color-hex.com/color-palette/40503 */
$main-grey: #3f6379;
$main-purple: #6f6379;
$main-flat-red: #9f6379;
$main-pink-red: #cf6379;
$main-bright-red: #ff6379;

/* additional colors */
$off-black: #222222;
$white: white;