/* main colors from http://www.color-hex.com/color-palette/40503 */
$main-grey: #3f6379;
$main-dark-grey: #2c4554;
$main-purple: #6f6379;
$main-flat-red: #9f6379;
$main-pink-red: #cf6379;
$main-bright-red: #ff6379;

/* additional colors */
$off-black: #222222;
$white: white;
$light-grey: #d8d8d8;
$grey: #cccccc;
$dark-grey: #9d9d9d;
