body {
	font-family: 'Droid Sans', sans-serif;
    background-color: #222222;
    line-height: 2;
    position: relative;
}

#loaderWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #222222;
}

.loader {
    border: 16px solid #222222; 
    border-top: 16px solid #9f6379; 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* NAV */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
    border-top: none;
    font-size: 16px;
}

.navbar-inverse {
	background: none; 
	border: none;
}

.navbar-toggle {
    outline: none;
}

nav {
	color: white;
}

.active {
   border-bottom: 2px solid white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}

.opaqueNav {
    background-color: #222222;
}

/* HEADER */

#header {
     height: 100vh;
     width: auto;
     background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)), url("images/compressed/bulb2.jpg");
     background-size: cover;
     color: white;
}

#header h1 {

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

#headerText {
    text-align: center;
    font-size: 18px;
    margin-bottom: 500px;
}

#learnMore {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

#learnMore a {
    text-decoration: none;
    color: white;
}

/* BIO */


.mobileHeaders {

    background-color: #222222;
    width: 100%;
    height: 100%;
}

#bio {
    text-align: center;
    padding-top: 60px;
}

#bioHeader {
    color: white;
    margin: 0px;
}

#faceShot {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 40px auto 40px auto;
}

.bioSection {
    background: -webkit-linear-gradient(top left, #3f6379, #9f6379);
    background: -o-linear-gradient(top left, #3f6379, #9f6379);
    background: linear-gradient(to bottom right, #3f6379, #9f6379);
}

#bioWrap {
	padding: 60px;
	color: #cccccc;
	font-size: 18px;
    max-width: 1020px;
    margin: auto;
}

/* PORTFOLIO */

.portParallax { 
    /* The image used */
    background-image: url("images/compressed/dino2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 #portHeader {
    background: linear-gradient(to right, rgba(255,0,0,0), #9f6379);
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
}

.portfolioSection {
    background: -webkit-linear-gradient(top left, #9f6379, #ff6379);
    background: -o-linear-gradient(top left, #9f6379, #ff6379);
    background: linear-gradient(to bottom right, #9f6379, #ff6379);
    height: auto;
}

#portfolioWrap {
    padding: 20px 60px 60px 60px;
    color: #f2f2f2;
    font-size: 18px;
    max-width: 1020px;
    text-align: center;
    margin: auto;
}

.fa-code {
    margin-bottom: 20px;

}

.portfolioIcons {
    background: none;
    border: 1px solid #3f6379;
    border-radius: 15px;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.portfolioIcons img {
    width: 100%;
    height: auto;
    
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3f6379;
  border-radius: 15px;
  padding: 60px 5px 5px 5px;
  cursor: pointer;
}

.portfolioIcons:hover .overlay {
  opacity: 1;
}

.overlay .tech {
  width: 100px;
  height: auto;
  display: inline;
  padding: 10px;
}

#simpsonsModal, #trainModal, #bamazonModal, #GifTasticModal {
    background: rgba(0,0,0,0.6);
}

.projectTitle{
    color: #a3a3a3;
}

.modalList {
    font-size: 16px;
}


/* CHARTS */

#frontendChart {
    background-color: #222222;
    text-align: center;
    color: #cccccc;
}

#backendChart {
    text-align: center;
    color: #222222;
}

#chartWrap {
    padding-top: 5px;
}

.backend{
    background-color: #ff6379;
}

/* RESUME */

#resumeTitle {
    text-align: center;
    color: #222222;
}

.resumeRow {
    background-color: white;
}

#resume {
    font-size: 16px;
    text-align: left;
    padding-top: 50px;
    margin-top: 2px;
}
    

#resume h4 {
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    color: #9f6379;
}

.resumeDate {
    float: right;
    color: #A0A0A0;
}

.resumeTitle {
    color: #A0A0A0;
}

.subHeader {
    font-weight: 900;
    text-shadow: 1px 0px black;
}

/* CONTACT */

#contact {
    background: -webkit-linear-gradient(top left, #9f6379, #3f6379);
    background: -o-linear-gradient(top left, #9f6379, #3f6379);
    background: linear-gradient(to bottom right, #9f6379, #3f6379);
    padding: 50px 0px 50px 0px;
    color: white;
    text-align: center;
}

#contactHeader {

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

#contactIntro {
    font-size: 18px;
}

.expandBtn {
    border-color: white;
    border-radius: 8px;
    background: none;
    margin: 40px auto;
    display: block;
    width: auto;
    height: 80px;
    font-size: 24px;
    min-width: 260px
}

.expandBtn:focus {
    outline: none;
}

#messageSend {
    border-color: white;
    border-radius: 8px;
    background: none;
    margin: 40px auto;
    display: block;
    width: 200px;
    height: 60px;
    font-size: 24px;
}

#messageSend:focus {
    outline: none;
}

#social-links {
    margin: 10px auto 40px;
    display: block;
    width: 300px;
    text-align: center;
}

.socialIcons {
    display: inline;
    margin-left: 0.2em;
    color: white;
}

/* CONTACT MODAL */


.modal-backdrop {
    /* bug fix - no overlay */    
    display: none; 
}

#contactModal {
    background: rgba(0,0,0,0.6);
}

.modal-title {
    font-size: 32px;
    color: #cf6379;
}

.close {
  float: right;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .6;
}

.modal-content {
    background-color: #2c4554;
    text-align: center;
    color: white;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}

form {
    width: 50%;
    margin: auto;
}

#message {
    padding: 20px 10px 200px; 
    line-height: 28px;
}

/* FOOTER */

footer {
    background-color: #222222;
    width: 100%;
    height: 80px;
    color: white;
    border-top: 1px solid white;
    text-align: center;
    font-size: 18px;
    color: #9d9d9d;
    padding: 30px 0px 90px 0px;
}

footer .fa {

    display: block;
    color: #ff6379;
}


/*MEDIA QUERIES*/
/*!!IMPORTANT some responsize layout done in effects.js*/

@media (max-width: 599px) {/*phone only-portrait*/

    .navbar-inverse .navbar-toggle {
        border-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar .navbar-collapse {
        font-size: 24px;
    }

    .navbar-nav>li {
        margin-bottom: 20px;
    }

    #headerText {
        margin-bottom: 206px;
    }

    #bio {
    text-align: center;
    padding-top: 20px;
    }

    #bioHeader {
    color: white;
    margin: 0px;
    }

    #faceShot {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto 20px auto;
    }

    .portfolioIcons {
    margin-bottom: 0px;
    }

    #resume {
        padding-top: 10px;
    }

    .fixedHeightRow {
        min-height: 260px;
    }

    form {
        width: 100%;
    }

}

@media (min-width: 600px) {/*phone landscape & up*/

    .navbar-inverse .navbar-toggle {
        border-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
    
    .navbar-nav>li {
        margin-bottom: -5px;
    }

    .navbar .navbar-collapse {
        font-size: 20px;
    }

    .navbar-nav>li {
        margin-bottom: 15px;
    }

    #headerText {
        margin-bottom: 70px;
    }

    #faceShot {
        border-radius: 50%;
        max-width: 200px;
        height: auto;
        display: block;
        margin: 20px auto 20px auto;
    }

    #resume {
        padding-top: 5px;
    }

    .fixedHeightRow {
        min-height: 421px;
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 100vh;
    }

}

@media (min-width: 750px) {/*tablet-portrait*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #faceShot {
        border-radius: 50%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 40px auto 40px auto;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

    form {
        width: 100%;
    }

}

@media (min-width: 900px) {/*tablet-landscape & up*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

}

@media (min-width: 1200px) {/*desktop & up*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #headerText {
        margin-bottom: 500px;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

}