body {
	font-family: 'Droid Sans', sans-serif;
    background-color: #222222;
    line-height: 2;
    position: relative;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
    border-top: none;
}

.navbar-inverse {
	background: none; 
	border: none;
}

.navbar-toggle {
    outline: none;
}

nav {
	color: white;
}

.active {
   border-bottom:2px solid white;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        background-color: transparent;
    }

#header {
     height: 100vh;
     width: auto;
     background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)), url("images/compressed/bulb2.jpg");
     background-size: cover;
}

#headerText {

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.parallax h1 {
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
}

#bio { 
    /* The image used */
    background-image: url("images/compressed/selfieBW2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

     /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


 #bioHeader, #portHeader {
    background: linear-gradient(to right, rgba(255,0,0,0), #9f6379);
}

.bioSection {
    background: -webkit-linear-gradient(top left, #3f6379, #9f6379);
    background: -o-linear-gradient(top left, #3f6379, #9f6379);
    background: linear-gradient(to bottom right, #3f6379, #9f6379);
}

#bioWrap {
	padding: 60px;
	color: #cccccc;
	font-size: 16px;
    max-width: 1020px;
    margin: auto;
}

#portfolio { 
    /* The image used */
    background-image: url("images/compressed/dino2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolioSection {
    background: -webkit-linear-gradient(top left, #9f6379, #ff6379);
    background: -o-linear-gradient(top left, #9f6379, #ff6379);
    background: linear-gradient(to bottom right, #9f6379, #ff6379);
}

#portfolioWrap {
    padding: 60px;
    color: #f2f2f2;
    font-size: 16px;
    max-width: 1020px;
    margin: auto;

}

#portfolioChart {
    background-color: #222222;
    text-align: center;
    color: #cccccc;
}

#chartWrap {
    padding-top: 5px;
}

/*MEDIA QUERIES*/


@media (max-width: 768px) {

    .navbar-inverse .navbar-toggle {
        border-color: white;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }

}



