body {
	font-family: 'Droid Sans', sans-serif;
    background-color: #222222;
    line-height: 2;
}

.navbar {
    opacity: 1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
	background: none;
	border: none;
}

nav {
	color: white;
}

.header {
     height: 100vh;
     width: auto;
     background-image: url("images/compressed/bulb2.jpg");
     background-size: cover;
}

#headerText {
    margin-top: 200px;
    color: white;
    font-weight: bolder;
}

.parallax h1 {
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
}

.bioParallax { 
    /* The image used */
    background-image: url("images/compressed/selfieBW2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

     /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


 #bioHeader, #portHeader {
    background: linear-gradient(to right, rgba(255,0,0,0), #9f6379);
}

.bio {
    background: -webkit-linear-gradient(top left, #3f6379, #9f6379);
    background: -o-linear-gradient(top left, #3f6379, #9f6379);
    background: linear-gradient(to bottom right, #3f6379, #9f6379);
}

#bioWrap {
	padding: 60px;
	color: #cccccc;
	font-size: 16px;
    max-width: 1020px;
    margin: auto;
}

.portfolioParallax { 
    /* The image used */
    background-image: url("images/compressed/dino2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio {
    background: -webkit-linear-gradient(top left, #9f6379, #ff6379);
    background: -o-linear-gradient(top left, #9f6379, #ff6379);
    background: linear-gradient(to bottom right, #9f6379, #ff6379);
}

#portfolioWrap {
    padding: 60px;
    color: #f2f2f2;
    font-size: 16px;
    max-width: 1020px;
    margin: auto;

}

#portfolioChart {
    background-color: #222222;
    text-align: center;
    color: #cccccc;
}

#chartWrap {
    padding-top: 5px;
}