body {
	font-family: 'Droid Sans', sans-serif;
    background-color: #222222;
    line-height: 2;
    position: relative;
}

#loaderWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #222222;
}

.loader {
    border: 16px solid #222222; 
    border-top: 16px solid #9f6379; 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
    border-top: none;
    font-size: 16px;
}

.navbar-inverse {
	background: none; 
	border: none;
}

.navbar-toggle {
    outline: none;
}

nav {
	color: white;
}

.active {
   border-bottom:2px solid white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}

.opaqueNav {
    background-color: #222222;
}

#header {
     height: 100vh;
     width: auto;
     background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)), url("images/compressed/bulb2.jpg");
     background-size: cover;
}

#headerText {

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.bioParallax { 
    /* The image used */
    background-image: url("images/compressed/selfieBW2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

     /*Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileHeaders {

    background-color: #222222;
    width: 100%;
    height: 100%;
}

 #bioHeader, #portHeader {
    background: linear-gradient(to right, rgba(255,0,0,0), #9f6379);
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
}

.bioSection {
    background: -webkit-linear-gradient(top left, #3f6379, #9f6379);
    background: -o-linear-gradient(top left, #3f6379, #9f6379);
    background: linear-gradient(to bottom right, #3f6379, #9f6379);
}

#bioWrap {
	padding: 60px;
	color: #cccccc;
	font-size: 16px;
    max-width: 1020px;
    margin: auto;
}

#faceShot {
    display: none;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    margin: 20px auto 20px auto;
}

.portParallax { 
    /* The image used */
    background-image: url("images/compressed/dino2.jpg");

    /* Full height & width */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolioSection {
    background: -webkit-linear-gradient(top left, #9f6379, #ff6379);
    background: -o-linear-gradient(top left, #9f6379, #ff6379);
    background: linear-gradient(to bottom right, #9f6379, #ff6379);
}

#portfolioWrap {
    padding: 60px;
    color: #f2f2f2;
    font-size: 16px;
    max-width: 1020px;
    margin: auto;
}

#myCarousel{
    width: 40%;
    margin: auto;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

#frontendChart {
    background-color: #222222;
    text-align: center;
    color: #cccccc;
}

#backendChart {
    text-align: center;
    color: #222222;
}

#chartWrap {
    padding-top: 5px;
}

.backend{
    background-color: #ff6379;
}

#resumeTitle {
    text-align: center;
    color: #222222;
}

.resumeRow {
    background-color: white;
}

#resume {
    font-size: 16px;
    text-align: left;
    padding-top: 50px;
    margin-top: 2px;
}
    

h4 {
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    color: #9f6379;
}

.resumeDate {
    float: right;
    color: #A0A0A0;
}

.resumeTitle {
    color: #A0A0A0;
}

.subHeader {
    font-weight: 900;
    text-shadow: 1px 0px black;
}

#contact {
    background: -webkit-linear-gradient(top left, #9f6379, #3f6379);
    background: -o-linear-gradient(top left, #9f6379, #3f6379);
    background: linear-gradient(to bottom right, #9f6379, #3f6379);
}

#contactHeader {

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

/*MEDIA QUERIES*/
/*!!IMPORTANT some responsize layout done in effects.js*/

@media (max-width: 599px) {/*phone only-portrait*/

    .navbar-inverse .navbar-toggle {
        border-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar .navbar-collapse {
        font-size: 24px;
    }

    .navbar-nav>li {
        margin-bottom: 20px;
    }

    #resume {
        padding-top: 10px;
    }

    .fixedHeightRow {
        min-height: 260px;
    }

}

@media (min-width: 600px) {/*phone landscape & up*/

    .navbar-inverse .navbar-toggle {
        border-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #d8d8d8;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
    
    .navbar-nav>li {
        margin-bottom: -5px;
    }

    .navbar .navbar-collapse {
        font-size: 20px;
    }

    .navbar-nav>li {
        margin-bottom: 15px;
    }

    #resume {
        padding-top: 5px;
    }

    .fixedHeightRow {
        min-height: 421px;
    }

}

@media (min-width: 750px) {/*tablet-portrait*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

}

@media (min-width: 900px) {/*tablet-landscape & up*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

}

@media (min-width: 1200px) {/*desktop & up*/

    .navbar .navbar-collapse {
        font-size: 16px;
    }

    .navbar-nav>li {
        margin-bottom: -5px;
    }

    #resume {
        padding-top: 50px;
    }

    .fixedHeightRow {
        min-height: 526px;
    }

}