#header {
  background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url("images/compressed/bulb2.jpg");
  background-size: cover;
  color: $white;
  height: 100vh;
  position: relative;
  width: auto;

  h1 {
    font-family: $header-fonts;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }

  #headerText {
    font-size: 18px;
    text-align: center;
  }

  #learnMore {
    bottom: 0;
    left: 0;
    max-width: 300px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}
