/* NAVBAR */
.navbar {
  color: $white;

  .navbar-nav {
    display: inline-block;
    float: none;

    .active > a,
    .active > a:focus,
    .active > a:hover {
      background-color: transparent;
    }

    li {
      @include mobile-portrait-max {
        margin-bottom: 20px;
      }
      @include mobile-landscape-min {
        margin-bottom: 15px;
      }
      @include tablet-landscape-min {
        margin-bottom: -5px;
      }

      a {
         transition: color .3s ease-in-out;
        &:focus,
        &:hover {
          color: $white;
        }
      }
    }
  }

  .navbar-collapse {
    text-align: center;
    box-shadow: none;
    border-top: none;
    font-size: 16px;
    @include mobile-portrait-max {
      font-size: 24px;
    }
    @include mobile-landscape-min {
      font-size: 20px;
    }
    @include tablet-landscape-min {
      font-size: 16px;
    }
  }

  .navbar-toggle {
    outline: none;
    border: none;
  }

  .closeIcon {
    display: none;
  }

  .active {
    border-bottom: 2px solid $white;
  }
}

.navbar-inverse {
  background: none;
  border: none;

  .navbar-toggle {
      /* Nav Icon */

      #nav-icon {
        width: 26px;
        height: 45px;
        position: relative;
        margin: 0 auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

          span {
              display: block;
              position: absolute;
              height: 5px;
              width: 100%;
              background: $light-grey;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              transform: rotate(0deg);
              transition: .25s ease-in-out;

              &:nth-child(1) {
                top: 0px;
                transform-origin: left center;
              }

              &:nth-child(2) {
                top: 9px;
                transform-origin: left center;
              }

              &:nth-child(3) {
                top: 18px;
                transform-origin: left center;
              }
          }
      }

      #nav-icon.open {
          span {
              &:nth-child(1) {
                transform: rotate(45deg);
                top: 0px;
                left: 8px;
              }

              &:nth-child(2) {
                width: 0%;
                opacity: 0;
              }

              &:nth-child(3) {
                transform: rotate(-45deg);
                top: 18px;
                left: 8px;
              }
          }
      }
    &:focus,
    &:hover {
      background-color: transparent;

      @include mobile-landscape-min {
        background-color: transparent;
      }
    }
    @include mobile-portrait-max {
      color: $light-grey;
    }
    @include mobile-landscape-min {
      color: $light-grey;
    }
  }
}

.opaqueNav {
  background-color: $off-black;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  @include mobile-landscape-min {
    max-height: 100vh;
  }
}
@include tablet-portrait-min {
  .navbar .navbar-collapse {
    font-size: 16px;
  }

  .navbar-nav > li {
    margin-bottom: -5px;
  }
}
@include desktop-min {
  .navbar .navbar-collapse {
    font-size: 16px;
  }

  .navbar-nav > li {
    margin-bottom: -5px;
  }
}
